header {
    width: auto;
    padding: 1px;
    margin: 0;
  }

.headerblue {
        width: 100%;
        height: 200px;
      }


.middle{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    font-family: Helvetica;
    display:inline-flex;
    text-align: center;
}

.bottom{
        width: 100%;
        height: auto;  
    }



.logo{
    text-align:center;
    margin-left: 100px;
    width:auto;
    height:300px;
}

#flexContainer, #focusb {
    display:flex;
    text-align: center;
    margin:100px;
    font-weight: bold;
    }

#flexContainer{
color:white;
font-family: Helvetica;
font-size: large;
display:none;
height: 500px;
text-align: center;
background-image: url(../images/bateman.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
    
}

ul{
    display:inline;
    text-align:left;
    margin:150px;
    padding:10px;
    height: 100px;
    list-style-type: none;
    font-size: x-large;
    font-weight: bold;
}

button{
    background-color: "#34271E";
    font-family: Helvetica;
    display:flex;
    justify-content: center;
    text-align: center;
    width:300px;
    margin:30px;
    padding:10px;
    font-weight: bold;
    border-radius: 10px;
}

footer{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    padding:10px;
    margin:auto;
    text-align: center;
    display: block;
    justify-content: center;
}
